.column {
    flex-direction: column;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.float-right {
    float: right;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-left {
  text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
  text-align: right;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

$flex: 9;
@while $flex > 0 { // flex 1 - 9
  .flex-#{$flex} {
      flex: $flex;
  }
  $flex: $flex - 1;
}
