$spacing: (
    0: 0,
    25: 0.25rem,
    50: 0.5rem,
    75: 0.75rem,
    1: 1rem,
    2: 2rem,
    3: 3rem,
    4: 4rem,
    5: 5rem
);
@each $value,$mar in $spacing { // margin utility classes
    .m-#{$value} {
        margin: $mar;
    }
    .mt-#{$value} {
        margin-top: $mar;
    }
    .mr-#{$value} {
        margin-right: $mar;
    }
    .mb-#{$value} {
        margin-bottom: $mar;
    }
    .ml-#{$value} {
        margin-left: $mar;
    }
    .my-#{$value} {
        margin-top: $mar;
        margin-bottom: $mar;
    }
    .mx-#{$value} {
        margin-left: $mar;
        margin-right: $mar;
    }
}

.ml-a {
    margin-left: auto;
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

.m-a {
    margin: auto;
}

@each $value,$pad in $spacing { // padding utility classes
    .p-#{$value} {
        padding: $pad;
    }
    .pt-#{$value} {
        padding-top: $pad;
    }
    .pr-#{$value} {
        padding-right: $pad;
    }
    .pb-#{$value} {
        padding-bottom: $pad;
    }
    .pl-#{$value} {
        padding-left: $pad;
    }
    .py-#{$value} {
        padding-top: $pad;
        padding-bottom: $pad;
    }
    .px-#{$value} {
        padding-left: $pad;
        padding-right: $pad;
    }
}
