.italic {
  font-style: italic;
}

.small {
  font-size: 0.9em;
}

.smaller {
  font-size: 0.8em;
}

.smallest {
  font-size: 0.7em;
}

.default-font {
  font-size: 1em;
}

.large {
  font-size: 1.1em;
}

.larger {
  font-size: 1.3em;
}

.largest {
  font-size: 1.5em;
}

.huge {
  font-size: 2em;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

.w-a {
  width: auto;
}

.icon-fix { // for FA icons that sit a little too high
  position: relative;
  top: 2px;
}
