<template>
  <main>
    <h1>GitLab.org Total Lines Merged</h1>
    <form @submit.prevent>
      <input type="text" v-model="userName" placeholder="GitLab Username (ex. zcuddy)">
      <button class="large inline-flex align-center" type="submit" @click="getLineCount" :disabled="isLoading">
        Go!
        <loader v-if="isLoading" class="pl-50" />
      </button>
      <p v-if="error" class="color-red mt-1">
        {{ error }}
      </p>
      <section v-if="!isLoading && data" class="mt-1">
        <h3 class="mb-50">{{ nicePhrase }}</h3>
        <p class="larger">Total Merged MRs: {{ data.totalMRs }}</p>
        <p class="smaller italic color-grey">(Some may have been filtered out due to not having a commit SHA.)</p>
        <div class="flex flex-center mt-25">
          <p class="bold color-green pr-50">+{{ prettyNumber(data.addedLines) }}</p>
          <p class="bold color-red">-{{ prettyNumber(data.removedLines) }}</p>
        </div>
      </section>
    </form>
  </main>
</template>

<script>
import { getMRs } from '@/services/gitlabApi.js'
import Loader from '@/components/Loader'

export default {
  name: 'Home',
  components: {
    Loader
  },
  data() {
    return {
      isLoading: false,
      nicePhrase: '',
      userName: '',
      data: null,
      error: null
    }
  },
  methods: {
    async getLineCount() {
      if (!this.userName) {
        this.error = 'Oops! You forgot your username.'
        return
      }

      this.error = null
      this.isLoading = true
      this.data = await getMRs(this.userName)
      this.nicePhrase = this.randomPhrase()
      this.isLoading = false
    },
    randomPhrase() {
      const phrases = [
        'You are rocking it!',
        'Don\'t stop merging!',
        'Nice work!',
        'You can\'t be beat!',
        'Fantastic!',
        'Amazing!'
      ]

      return phrases[Math.floor(Math.random() * phrases.length)]
    },
    prettyNumber(number) {
      return Number(number).toLocaleString()
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../styles/breaks.scss';

  h1 {
    text-align: center;
    font-size: 1.3em;

    @media (min-width: breaks(phablet)) {
      font-size: 1.5em;
    }

    @media (min-width: breaks(laptop)) {
      font-size: 2.5em;
    }
  }

  main {
    margin: 2rem;

    @media (min-width: breaks(phablet)) {
      margin: 3rem;
    }

    @media (min-width: breaks(laptop)) {
      margin: 5rem;
    }
  }

  form {
    text-align: center;
    width: 90%;
    margin: 20vh auto 0 auto;

    @media (min-width: breaks(phablet)) {
      width: 75%;
    }

    @media (min-width: breaks(tablet)) {
      width: 60%;
    }

    @media (min-width: breaks(laptop)) {
      width: 50%;
    }

    @media (min-width: breaks(desktop)) {
      width: 30%;
    }

    input {
      line-height: 2;
      margin-bottom: 1rem;
    }
  }
</style>
