<template>
  <div />
</template>

<script>
export default {
  name: 'InlineLoader'
}
</script>
<style lang="scss" scoped>
@import '../styles/colors.scss';
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

div {
  display: flex;
  justify-content: flex-start;
  background-color: none;

  &:after {
    content: "";
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-radius: 100%;
    border-style: solid;
    display: block;
    border-top-color: transparent !important;
    animation: spin 1s infinite linear;
  }
}
</style>
